{{!< default}}

{{!--
    Page template.
--}}

{{#post}}

<main class="verdin-main">

<article class="verdin-article {{post_class}}">

<section class="verdin-content verdin-canvas gh-canvas mb-4">

    <header class="verdin-article-header mb-0">

        {{#if feature_image}}
            <figure class="verdin-article-image mb-2">
                <picture>
                    <source  
                        media="(max-width: 390px)" 
                        srcset="{{img_url feature_image size="m"}} 1x, {{img_url feature_image size="l"}} 2x"
                        type="image/jpeg" />
                    <source srcset="{{img_url feature_image size="l"}} 1x, {{img_url feature_image size="l"}} 2x" type="image/jpeg" />
                    <img class="lazyload" 
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        width="740"
                        data-sizes="auto" />
                </picture>
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
        {{/if}}

        <div class="verdin-article-header">

        <h1 class="verdin-article-title bolder mb-3">{{title}}</h1>

        <div class="verdin-list-item-meta">

                {{#unless access}}
                    {{#has visibility="paid"}}
                        <span class="verdin-lock">{{> icons/lock}}{{t "Paid"}}</span>
                    {{/has}}
                    {{#has visibility="members"}}
                        <span class="verdin-lock">{{> icons/lock}}{{t "Members"}}</span>			
                    {{/has}}
                    {{#has visibility="tiers"}}
                        <span class="verdin-lock">{{> icons/lock}}{{t "Paid"}}</span>			
                    {{/has}}
                {{/unless}}     

                {{#if featured}}
                    <div class="verdin-lock item-featured">
                        {{> icons/star}}{{t "Featured"}}
                    </div>
                {{/if}}
         
        </div>
      
        </div> 

    </header>
    
        {{#if access}}

        {{content}}    
        
        {{else}}

            <div class="verdin-post-sneak-peek fading">
                {{{html}}}
            </div>

            {{> content-cta}}

        {{/if}}

</section>

</article>

    <div class="verdin-outer">
        {{> "components/cta" title=@custom.email_signup_title subTitle=@custom.email_signup_subtitle}}
    </div>

</main>

{{/post}}