{{!--
    Parameters:
    * hero_image ("Hide publication cover", "Display publication icon", "Publication cover rounded", "Publication cover sharp", "Publication cover stylish")
    * primary_header (text)
    * primary_header_text_size ("Large", "Medium", "Small")
    * secondary_header (text)
--}}

<section class="verdin-about verdin-outer mb-4">
    <div class="verdin-about-inner {{#match @custom.hero_image "=" "Display publication icon"}} verdin-icon-on {{/match}}">
       
        {{#match @custom.hero_image "=" "Display publication icon"}}
            {{#if @site.icon}}
                <img class="verdin-about-icon" src="{{@site.icon}}" alt="{{@site.title}}">
            {{/if}}
         {{else}}       
       
        {{#match @custom.hero_image "!=" "Hide publication cover"}}
            {{#if @site.cover_image}}
                <img class="verdin-about-image {{#match @custom.hero_image "=" "Publication cover rounded"}}verdin-rounded{{/match}}{{#match @custom.hero_image "=" "Publication cover stylish"}}verdin-stylish{{/match}}" src="{{@site.cover_image}}" alt="{{@site.title}}">
            {{/if}}
        {{/match}}

        {{/match}}

        <div class="verdin-about-content">
            <div class="verdin-about-content-inner">
                
                <h1 class="verdin-about-primary bolder {{#match @custom.primary_header_text_size "=" "Large"}}h1{{/match}}{{#match @custom.primary_header_text_size "=" "Medium"}}h2{{/match}}{{#match @custom.primary_header_text_size "=" "Small"}}h3{{/match}} bold">{{@custom.primary_header}}</h1>               
              
                <p class="verdin-about-secondary">{{{@custom.secondary_header}}}</p>
              
                {{#if @site.members_enabled}}
                    {{#unless @member}}
                        <div class="verdin-subscribe-input" data-portal>
                            verdin@example.com
                            <span class="verdin-btn verdin-primary-btn">Subscribe</span>
                        </div>
                    {{/unless}}
                {{/if}}
            </div>
        </div>
    </div>
</section>
