{{!--
    Parameters:
    * layout (grid, magazine)
    * count (number)
    * columns (number)
    * slug (tag)
    * showHeader (true, false)
    * showPrimaryTag (true, false)
    * showPrimaryAuthor (true, false)
    * showExcerpt (true, false)
    * showPublishedAt (true, false)
    * showReadingTime (true, false)
    * hasPagination (true, false)
--}}

<div class="verdin-list" data-column="{{column}}">
    <div class="verdin-list-inner">

        <header class="verdin-list-header">
            <h2 class="verdin-list-title h5 bolder">{{title}}</h2>
        </header>


        <div class="verdin-tags-feed mb-4">

            {{#get "tags" include="count.posts" order="count.posts desc" limit=count}}
            {{#foreach tags}}

            <a href="{{url}}" class="{{#unless feature_image}} tags-no-image {{/unless}}">
                {{#if feature_image}}
                <img class="verdin-tags-image" loading="lazy" src="{{ img_url feature_image size="l"}}"
                    alt="{{ name }}" />
                {{/if}}
                <span class="verdin-tags-count-posts">
                    <span class="verdin-label">{{ name }}</span>
                    <span class="verdin-meta-item">{{plural count.posts empty='No posts' singular='% post' plural='% posts'}}</span>
                </span>
            </a>


            {{/foreach}}
            {{/get}}
        </div>


    </div>
</div>