{{!--
    Parameters:
    * layout (grid, magazine)
    * count (number)
    * slug (tag)
    * showHeader (true, false)
    * showExcerpt (true, false)
    * showPrimaryAuthor (true, false)
    * showPublishedAt (true, false)
    * showAccessMeta (true, false)
    * showPrimaryTag (true, false)
    * showReadingTime (true, false)
    * showImageHoverAnimation (true, false)
    * showMetaHoverAnimation (true, flase)
    * titleSize (text)
--}}

<div class="verdin-list verdin-{{layout}}-wrapper" data-column="{{column}}">
    <div class="verdin-list-inner">

    {{#if showHeader}}
        <header class="verdin-list-header">
            <h2 class="verdin-list-title h5 bolder">{{t "Latest writings"}}</h2>
        </header>
    {{/if}}

    
    {{#if @custom.enter_tag_slugs_for_homepage}}
        <div class="verdin-{{layout}}-feed verdin-feed">
            {{#get "posts" include="authors,tags" filter="tag:[{{@custom.enter_tag_slugs_for_homepage}}]" limit=count}}
                {{#foreach posts}}
                    {{> components/list-item 
                    showExcerpt=../../showExcerpt
                    showPrimaryAuthor=../../showPrimaryAuthor
                    showPublishedAt=../../showPublishedAt
                    showAccessMeta=../../showAccessMeta
                    showPrimaryTag=../../showPrimaryTag
                    showFeaturedMeta=../../showFeaturedMeta
                    showReadingTime=../../showReadingTime
                    showImageHoverAnimation=../../showImageHoverAnimation
                    showMetaHoverAnimation=../../showMetaHoverAnimation
                    titleSize=../../titleSize
                    }}
                    {{/foreach}}
            {{/get}}
        </div>
    
    {{else}}
        
        <div class="verdin-{{layout}}-feed verdin-feed gh-feed">
            {{#foreach posts}}
                {{> components/list-item 
                    showExcerpt=../showExcerpt
                    showPrimaryAuthor=../showPrimaryAuthor
                    showPublishedAt=../showPublishedAt
                    showAccessMeta=../showAccessMeta
                    showPrimaryTag=../showPrimaryTag
                    showFeaturedMeta=../showFeaturedMeta
                    showReadingTime=../showReadingTime
                    showImageHoverAnimation=../showImageHoverAnimation
                    showMetaHoverAnimation=../showMetaHoverAnimation
                    titleSize=../titleSize
                }}
            {{/foreach}}
        </div>
        
        {{> components/pagination}}

    {{/if}}            

    </div>
</div>
